* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(102, 102, 102);
}

body {
    padding: 5%;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    padding-bottom: 25px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
  }

nav {
    font-weight: 700;
    text-transform: uppercase;
}