* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(102, 102, 102);
}

body {
    padding: 5%;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    padding-bottom: 25px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
  }

nav {
    font-weight: 800;
    text-transform: uppercase;
}

p {
    padding-bottom: 15px;
}

h2 {
    font-weight: bold;
}

h2,
.top {
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    padding-top: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

.bio {
    color: rgb(89, 88, 88);
}

.portfolio-container {
    padding-top: 10%;
    padding-bottom: 10%;
}

footer {
    border-top: solid 1px rgb(89, 88, 88);
    padding-top: 25px;
    font-weight: 700;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.nav-footer {
    display: none;
}

.section-1 {
    padding-bottom: 75px;
}

#portfolio {
    padding-bottom: 35px;
}

/* Media Queries */

@media (min-width: 768px){
    .bio {
        text-align: left;
        font-size: 1.25em;
    }

    li {
        display: inline-block;
        padding-left: 20px;
    }

    .section-1 {
        display: flex;
        flex-direction: row-reverse;
    }

    .project {
        float: left;
        width: 45%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .portfolio-text {
        padding: 15px 25px;
    }

    .contact-container {
        max-width: 60%;
        margin: auto;
    }
    
    .top {
        display: none;
    }

    .nav-footer {
        display: flex;
        float: right;
        margin: auto;
        padding: 0;
    }

    .ul-footer {
        margin: 0;
    }

    .profile-pic {
        padding-left: 30px;
    }
}

